
html {
  background-color: #fdfef0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  background-color: #004fef;
  padding: 20px;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-style: oblique;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
}
h3 {
  text-decoration: underline;
}
h3, h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
}


/*table styles*/
#table {
  width: 600px;
}

.tableHead {
  padding: 7px 10px 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111;
  border-top: 1px solid #111;
  text-align: left;
}

.tableRow {
  padding: 7px 10px 10px 10px;
}
