/* ===========================
  Base Element Styles
============================= */

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  background-color: #999;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h1 {
  margin-top: 0;
  color: #fff;
}

h2,
h3,
a {
	color: #fff;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: underline;;
}

/*the below elements are by default inline, and I have changed them to block*/

.storeNameLabel,
.input,
.button {
  display: block;
  margin: 0 auto;
}

.storeNameLabel {
  margin-bottom: 20px;
}

.input {
  margin-bottom: 20px;
}

.button {
  margin-bottom: 25px;
  border: 2.5px solid #4C4C4C;
  border-radius: 50px;
}
/* ===========================
  Base Layout Styles
============================= */

* {
  box-sizing: border-box;
}

/* ------- Navigation ------- */

.main-nav {
  margin: 0;
  padding-top: 20px;
  color: #fff;
}

.main-nav {

}

/* --- Layout Containers --- */

.container {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;

}

.main-header {
  background: #4C4C4C;
  text-align: center;
  color: #fff;
}

.main-footer {
  text-align: center;
  padding: 2em 0;
  background: #CCCCCC;
}


/*table styles*/
table {
  width: 70%;
  /*border-collapse: collapse;*/
  text-align: center;
  margin: 0 auto;
  padding: 7px 10px 10px 10px;
}
th {
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  font-size: 1.4em;
}

td {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
}

tr:nth-child(even) {
  background: #ccc;
  }

  /* ===========================
    Media Queries
  ============================= */

  .wrap {
    min-height: calc(100vh - 89px);
}

  @media (min-width: 769px) {
    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;

      }

      /*.name,
      .main-nav {
        display: flex;
      }*/
  }
