

/*table styles*/
#table {
  width: 600px;
}

.tableHead {
  padding: 7px 10px 10px 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111;
  border-top: 1px solid #111;
  text-align: left;
}

.tableRow {
  padding: 7px 10px 10px 10px;
}
